@model LTUDDN_NguyenMinhDuc_21103100549_RestaurentOrder.Models.MonAn

@{
    ViewBag.Title = "Top Doanh Thu";
}

<h2>Món Ăn Có Doanh Thu Cao Nhất</h2>

<table class="table">
    <tr>
        <th>Mã Món</th>
        <th>Tên Món</th>
        <th>Loại Món</th>
        <th>Đơn Giá</th>
        <th>Số Lượng Tồn</th>
        <th>Tổng Doanh Thu</th>
    </tr>
    <tr>
        <td>@Model.MaMon</td>
        <td>@Model.TenMon</td>
        <td>@Model.LoaiMon</td>
        <td>@Model.DonGia</td>
        <td>@Model.SoLuongTon</td>
        <td>@ViewBag.TongDoanhThu</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary" })
</p>