@model IEnumerable<LTUDDN_NguyenMinhDuc_21103100549_RestaurentOrder.Models.HoaDonDatMon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

<p>
    @using (Html.BeginForm("Index", "HoaDonDatMons", FormMethod.Get))
    {
        <p>
            Search by Customer Name: @Html.TextBox("searchString") <input type="submit" value="Search"/>
        </p>
    }
</p>
<table class="table">
        <tr>
            <th>Mã Hóa Đơn</th>
            <th>Tên Khách Hàng</th>
            <th>Ngày Đặt</th>
            <th>Số Lượng</th>
            <th>Tên Món</th>
            <th>Thành Tiền</th>
            <th>Tính năng</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonAn.TenMon)
                </td>
                <td>
                    @(item.SoLuong * item.MonAn.DonGia)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaHD }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaHD }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaHD })
                </td>
            </tr>
        }

    </table>
